body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: #3a1d32;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
From normalize.css, MIT licensed
https://github.com/necolas/normalize.css
*/
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.pulsing-animation {
  animation: pulse 0.75s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}

.fly-in-animation {
  animation: fly-in 0.2s ease-out;
  opacity: 1;
}

@keyframes fly-in {
  0% {
    transform: translate(300px, 0);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fly-out-animation {
  animation: fly-out 0.2s ease-out;
  opacity: 0;
  transform: translate(300px, 0);
}

@keyframes fly-out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(300px, 0);
  }
}

.clicky-button:hover {
  box-shadow: 0px 0px 8px -4px #703960;
}

.new-message {
  animation: glow 1s ease-out;
}

@keyframes glow {
  0% {
    background-color: rgba(66, 134, 244, 0.4);
  }
  100% {
    background-color: none; 
  }
}
